## Alire
#

alire
config



## Editor backup files
#

*.bak
*\~



## Build artifacts
#

*.ali
*.a
*.o
*-loc.xml
.clang-format
.clangd
build



## Binaries
#

launch_hello_box2d
applet/test/unit/collision_test/collision_test
applet/test/unit/hello_world/hello_world
applet/test/unit/math_test/math_test
applet/test/unit/world_test/world_test
hello_sdl


## Misc
#

attic
contrib